<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta name="description" content="{{ data.description }}">
{{#if meta.categories}}<meta name="keywords" content="{{join meta.categories }}">{{/if}}
{{#if data.facebookcomments}}<meta property="fb:app_id" content="{{ data.facebookcomments }}"/>{{/if}}
<link href="/favicon.ico" rel="icon">
<link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/bower_components/sass-bootstrap/dist/css/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/bower_components/bootswatch-superhero-wiredep/dist/bootstrap.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
<link rel="alternate" type="application/rss+xml" title="{{capitalize data.title}} - feed" href="http://feeds.feedburner.com/MatthewDalysBlog" />
<title>{{#if meta.title}}{{capitalize meta.title}} - {{/if}}{{capitalize data.title}}</title>
</head>
<body>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
{{#if data.addthis}}<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ data.addthis }}" async="async"></script>{{/if}}

<header>
   <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <div class="navbar-header">
            <a href="../" class="navbar-brand">Bootswatch</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div>
         <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

               <li>
               <a href="../help/">Help</a>
               </li>
               <li>
               <a href="http://news.bootswatch.com">Blog</a>
               </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
               <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">WrapBootstrap</a></li>
            </ul>

         </div>
      </div>
   </div> 
   
</header>
